<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Agrebi Omar</h2>
            <h4>Omar@email.com</h4>
        </div>
        <img src=".\assets\img\deleviry.png" alt="Amroo" height="100" width="300" align_text="center">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>lunch_dining</mat-icon> Foods
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="./modules/restaurants/home">
        <mat-icon>restaurant</mat-icon>   Restaurants
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>